.selected {
    border: 3px solid #dd33fa;
}

.unselected {
    border: 3px solid gray;
}

#uploaded-content {
    display: flex;
}

#uploaded-content video{
    width: 49%;
    margin-right: 2%;
}

#uploaded-content img{
    width: 49%;
}

#selectButtons{
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
}

#imageButtons{
    display: flex;
    column-gap: 10px;
    margin-top: 1%;
    justify-content: flex-end;
}

#buttonContainerSelectCopy{
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}

#copyButton{
    margin-left: auto;
}



#imagePlaceholder {
    width: 49%;
    height: 350px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #dd33fa;
}

#buttonsProjectOverview{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}