#card-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 25px;

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #303030;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #dd33fa;
        border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background:#9500ae;
    }
}

.selected {
    border: 3px solid #dd33fa;
}

.unselected {
    border: 3px solid gray;
}

#uploaded-content {
    display: flex;
}

#uploaded-content video {
    margin-right: 1%;
}

#imagePlaceholder {
    width: 47%;
    height: 320px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonsProjectOverview{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}